body {
  background: linear-gradient(
    90deg,
    rgb(255, 245, 220) 0%,
    rgb(251, 240, 163) 100%
  );
  font-family: "Roboto", sans-serif;
}
.container {
  background: ;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 600px;
}
a {
  color: #6f88c4;
}
h1 {
  font-weight: 800;
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #2c251d;
  text-align: center;
}
footer {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #2c251d;
}
form {
  padding: 30px;
  background-color: #b4c4e5;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(215, 237, 235, 0.9);
}
.recipe-search-input {
  background: rgba(255, 245, 220, 0.6);
  padding: 10px;
  border: 1px solid #6f88c4;
  border-radius: 10px;
  font-size: 14px;
  width: 80%;
  line-height: 10px;
  color: #2c251d;
}
.submit-button {
  background: #6f88c4;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-left: 8px;
  font-size: 14px;
  color: #2c251d;
}
.submit-button:hover {
  background: rgba(215, 237, 235);
  cursor: pointer;
  transition: ease-in-out 200ms;
}
.recipe-response {
  height: auto;
  color: #2c251d;
  font-size: 14px;
  padding: 30px;
  background: #b4c4e5;
  line-height: 2px;
  margin-top: 20px;
  border-radius: 10px;
  border-left: 5px solid #6f88c4;
  box-shadow: 5px 5px 5px rgba(215, 237, 235, 0.9);
}
